<.flash_group flash={@flash} />

<h1>Test Page</h1>

<ul class="list-disc">
  <li>
    UserAgent: <%= Plug.Conn.get_req_header(@conn, "user-agent") |> List.first() %>
  </li>

  <li>
    Req Cookies: <%= @conn.req_cookies() |> inspect %>
  </li>

  <li>
    All Cookies: <%= @conn.cookies() |> inspect %>
  </li>

  <li>
    Session: <%= Plug.Conn.get_session(@conn) |> inspect %>
  </li>

  <li>
    RemoteIP: <%= @conn.remote_ip |> IpHelper.as_string() %>
  </li>

    <li>
    Current UserAgent: <%= @current_agent |> inspect() %>
  </li>
</ul>
