<.header>
  Edit Word <%= @word.id %>
  <:subtitle>Use this form to manage word records in your database.</:subtitle>
</.header>

<.word_form changeset={@changeset} action={~p"/words/#{@word}"} />

<.back navigate={~p"/words"}>Back to words</.back>
