<.simple_form :let={f} for={@changeset} action={@action}>
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>
  <.input field={f[:word]} type="text" label="Word" />
  <.input field={f[:note]} type="text" label="Note" />
  <:actions>
    <.button>Save Word</.button>
  </:actions>
</.simple_form>
